In your server create a folder and create a text file within that folder.
    <br><br>
    Copy the output (JSON) string of the previous assignment from the output div of the browser and paste it inside the above text file and save.
    <br><br>
    Write a JavaScript AJAX GET code to receive the content of the above text file as the response.
    <br><br>
    Convert the received response to a JavaScript object.
    <br><br>
    Console log the object.
    <script>
        // var xhr = new XMLHttpRequest();
        // var url = "asg_B.txt";
        // xhr.response = 'json';
        // // console.log('a');
        // xhr.onreadystatechange = () => {
        //     // if (this.readyState == XMLHttpRequest.DONE) {
        //         if(xhr.readyState == 4){
        //             // console.log('b');
        //         var responseTxt = xhr.responseText;
        //         console.log(responseTxt);
        //         console.log(typeof(responseTxt));
        //         var json = JSON.parse(responseTxt);
        //         console.log(json);
        //         // console.log('c');
        //         console.log(typeof(json));
        //         // console.log('d');
        //     }
        // };
        // xhr.open("GET", url, true);
        // xhr.send();




    </script>
  
